@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Open+Sans:wght@800&family=Source+Sans+Pro:wght@200&display=swap');

:root {
  --resetMarPad: 0;

  /* z-index */
  --alpha: 99999;
  --minusAlpha: -99999;

  /* fonts */
  --mainFont: 'Source Sans Pro', sans-serif;

  /* colors */
  --headerBg: #fff;
  --headerColor: #555555;
  --logoColor: #111;
  --topnavLinkColor: #555555;
  --topnavLinkBeforeBg: #313c4e;
  --topnavLinkHoverDesktopBg: #fff;
  --topnavMobileShowBg: #313c4e;
  --topnavMobileShowTopnavLinkColor: rgba(255, 255, 255, 0.5);
  --topnavMobileShowTopnavLinkHoverColor: rgba(255, 255, 255, 1);
}

* {
  margin: var(--resetMarPad);
  padding: var(--resetMarPad);
  font-family: var(--mainFont);
  box-sizing: border-box;
}

/* TYPOGRAPHY */
.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, minmax(max-content, 1fr));
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px clamp(0.625rem, -0.673rem + 5.539vw, 6.25rem);
  position: relative;
  width: 75%;
  margin-left: 12.5%;
}

.logo {
  font-size: 1.875rem; /* fallback */
  font-size: clamp(1.875rem, 1.154rem + 3.077vw, 5rem);
  width: 60px;
  height: 100%;
}

.topnav {
  display: flex;
  gap: 20px;
  font-size: 1.0625rem; /* fallback */
  font-size: clamp(1.063rem, 0.976rem + 0.37vw, 1.438rem);
}

.topnav__link {
  padding: 2px 10px; /* fallback */
  padding: clamp(0.125rem, 0.01rem + 0.5vw, 0.625rem)
    clamp(0.625rem, 0.409rem + 0.923vw, 1.563rem);
  position: relative; /* for pseudo-element '::before' */
  display: block;
}

/* LOOK */
.header {
  background: var(--headerBg);
  color: var(--headerColor);
}

.header__btn {
  cursor: pointer;
  background: none;
  border: none;
  display: none;
}

.logo {
  color: var(--logoColor);
  text-decoration: none;
}

.topnav__item {
  list-style: none;
}

.topnav__link {
  color: var(--topnavLinkColor);
  z-index: var(--alpha);
  text-decoration: none;
}

/* .topnav__link::before {
  --topLeft: 0;
  --widthHeight: 100%;

  top: var(--topLeft);
  left: var(--topLeft);
  width: var(--widthHeight);
  height: var(--widthHeight);
  background: var(--topnavLinkBeforeBg);
  z-index: var(--minusAlpha);
  position: absolute;
  content: "";
  border-radius: 0 25px 0px 0;
  transition: border-radius 0.3s;
} */

.topnav__link:hover {
    transition: .2s;
  color: var(--topnavLinkHoverColor);
}

/* TYPOGRAPHY FOR MEDIA */
@media screen and (max-width: 650px) {
  .header {
    flex-direction: column;
    grid-row-end: 1;
    gap: 10px;
  }
  .topnav {
    align-self: flex-start;
  }
}

@media screen and (min-width: 400px) {
  .topnav__link:hover::before {
    background: var(--topnavLinkHoverDesktopBg);
    border-radius: 0;
  }
}

@media screen and (max-width: 399px) {
  .header {
    flex-direction: row;
  }
  .logo {
    margin: auto;
  }
  .topnav {
    display: none; /* hide the nav until the button is not focus  */
  }
  .header__btn_open-topnav {
    display: flex; /* show the button and center the img inside the button */
  }
  .header__btn_open-topnav:focus + .topnav_mobile_show {
    display: flex; /* show the navigation when clicked  */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
  .header__btn_close-topnav {
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;
  }
  .topnav_mobile_show {
    --widthHeight: 100%;
    --topLeft: 0;

    width: var(--widthHeight);
    height: var(--widthHeight);
    top: var(--topLeft);
    left: var(--topLeft);
    position: fixed;
  }
  .topnav_mobile_show .topnav__link {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}

/* LOOK FOR MOBILE */
@media screen and (max-width: 399px) {
  .topnav_mobile_show {
    background: var(--topnavMobileShowBg);
  }
  .topnav_mobile_show .topnav__link {
    color: var(--topnavMobileShowTopnavLinkColor);
    transition: 0.3s;
  }
  .topnav_mobile_show .topnav__link:hover {
    color: var(--topnavMobileShowTopnavLinkHoverColor);
  }
}

/* ICONS */
.icon-menu-open,
.icon-menu-close{
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
}

.icon-menu-open::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 2px;
  background: #fff;
  box-shadow:
    0 -8px 0 #fff,
    0 8px 0 #fff;
}

.icon-menu-close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  width: 2px;
  height: 50%;
  content: '';
  background: #fff;
}

.icon-menu-close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  width: 2px;
  height: 50%;
  content: '';
  background: #fff;
}



/* Page-Body */
.page-body {
    width: 100%;
    height: 100%;
    background-color: #111;
    text-align: center;
}

.title-body{
    padding-top: 2%;
}

.title-h1{
    font-family: 'Source Sans Pro', sans-serif;
    background: #FFFF00;
background: linear-gradient(to left, #FFFF00 0%, #05C1FF 50%, #FFFF00 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.title-h2{
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: .1%;
    padding-bottom: 2%;
    background: #FFFF00;
background: linear-gradient(to left, #FFFF00 0%, #05C1FF 50%, #FFFF00 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.form-body{
    margin-top: 8%;
    margin-bottom: 4%;
}

.form-label{
    display: inline-block;
    background-color: #97cbe5;
    color: white;
    padding: 10px 24px 10px 24px;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 8px;
    font-size: large;
    margin-left: 32%;
    margin-bottom: 7%;
  }

.text-body{
  padding-top: 6%;
  padding-bottom: 9%;
}

.text-title{
  font-family: 'Source Sans Pro', sans-serif;
  color: #111;
  font-size: 3rem;
  padding-bottom: 7%;
}

  .body-h4{
    color: #111;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .content-body{
    display: flex;
    width: 100%;
  }

  .content-container{
    width: 80%; 
    display: flex; 
    margin: 60px 100px 60px 100px;
  }

  .form-data{
    margin-left: 8%;
  }

  .memoji-class{
    margin-left: 4rem;
  }

  .memoji{
    width: 22rem;
  }


  /* Footer */
  .footer-container{
    background-color: #111;
    width: 100%;
    height: 210px;
  }

  .footer-data{
    width: 80%;
    margin-left: 10%;
    padding-top: 4%;
  }

  .footer-copyright{
    font-family: 'Source Sans Pro', sans-serif;
    color: #d6d6d6;
    size: 20px;
    text-align: center;
  }

  .footer-link{
    text-decoration: none;
    color: #70C9C6;
  }


  /* PC Screen */
  @media only screen and (min-width: 1600px) {
    .content-container{
      margin: 80px 340px 80px 340px;

      /* margin: 80px 340px 80px 340px; */
    }

    .footer-container{
      height: 250px;

      /* height: 250px;*/
    }
  }


  /***********   conversion ***************/

  [hidden] { display: none !important; }

#modelLoading {
  margin: 14px auto;
  padding: 6px 14px;
  font-size: 22px;
  display: block;
  width: 300px;
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

#modelLoading > span {
  display: inline-block !important;
  animation: pulsing-fade 1.2s ease-in-out infinite;
}

a:link:not(.img-link), a:visited:not(.img-link) {
  text-decoration: none;
  border-bottom: 2px solid var(--normal);
}

input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.button {
  -webkit-appearance: none;
  display: inline-block;
  margin: 14px;
  padding: 6px 14px;
  background: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background: var(--normal);
	border-radius: 100px;
  width: 150px;
}

.button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.button > .loading {
  display: none;
}

.button.working {
  background: var(--working);
  transition: background-color 0s ease-out;
  opacity: 1;
  color: black;
}

.working > .text {
  display: none;
}

.working > .loading {
  display: inline-block !important;
  animation: pulsing-fade 1.2s ease-in-out infinite;
}

.button:hover {
  transition: background-color 0.4s ease-out;
  background: var(--hover);
}

.button.player {
  background: white;
  color: var(--bottom);
  width: 180px;
  transition: opacity 0.4s ease-out;
  margin: 0;
}

.button.player:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button.player:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button.player:not(.active) {
  opacity: 0.5;
}
.button.player:not(.active):hover {
  opacity: 1;
}

.button.save {
  display: block;
  width: 140px;
  margin: 0 auto;
}

.box {
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  margin: 40px auto; 
  background: var(--top);
}

.top {
  padding: 14px;
  text-align: center;
}

.middle {
  position: relative;
  background: var(--middle);
  color: white;
  border-radius: 0;
  padding: 16px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  position: relative;
  overflow-x: auto;
  padding: 10px 0;
  margin: 10px;
  cursor: pointer;
  border: 4px solid transparent;
  text-align: center;
  flex-grow: 1;
}

.container:hover {
  border: 4px solid #56585D;
}

.icon {
  border-radius: 50%;
  background: white;
  pointer-events:none;
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}

#playIcon > svg, #pauseIcon > svg {
  pointer-events:none;
  fill: var(--middle);
  height: 100%;
  width: 100%;
}

.container[hidden] ~ #playIcon,
.container[hidden] ~ #pauseIcon {
  display: none !important;
}

.container ~ #playIcon {
  display: block !important;
}
.container ~ #pauseIcon {
  display: none !important;
}

.container.playing:hover ~ #pauseIcon {
  display: block !important;
}
.container.playing ~ #playIcon {
  display: none !important;
}

#help h1 {
  text-align: center;
}

#help p {
  font-size: 16px;
  line-height: 30px;
  padding: 0 24px;
  text-align: left;
  margin-bottom: 14px;
}

#loading {
  text-transform: uppercase;
}

#transcribingMessage { 
  padding: 40px;
}
#transcribingMessage[hidden] #safariWarning {
  display: none !important;
}


#players {
  text-align: center;
  display:flex;
  justify-content: center;
}

#recordingError {
  opacity: 0.6;
}


@keyframes pulsing-fade { 
  50% { opacity: 0.3; }
}

.converter {
  --background: #fff;
  --top: #262626;
  --middle: #333333; 
  --hover: #97cbe5;
  --normal: #70C9C6; 
  --working: #97cbe5;
  --player: white;
  font-family: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background: var(--background);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}